.cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 90%;
    height: 400px;
    border: 1px solid black;

    .image {
        width: 50%;
        height: 100%;
    }
}