.cardContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 40px;
    border-radius: 12px;
    width: 90%;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.cardContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.CardText {
    padding-left: 80px;
    z-index: 3;
    padding: 20px;
    flex: 3;
}

.text {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    text-decoration: none !important;
}

.var {
    text-decoration: none !important;
}

.key {
    color: #363636;
    font-size: 18px;
    font-weight: 400;
}

.value {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}