.city {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.modaltitle{
    padding-top: 10px;
}
.property {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ant-modal-content {
    width: 600px !important;
}