.navbar{
    display: flex;
    justify-content: space-between;
    .navbar-brand{
        font-weight: bold;
    }
    #home{
        margin-left: 50%;
    }
    .navbar-nav{

        .nav-link{
            font-weight: 600;
            font-size: larger;
            text-decoration: none;
        }
    }
}

.dashList{
    display: flex;
    text-decoration: none;
}